<%= simple_form_for(@person) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="span3">
        <%= f.input :name %>
        <%= f.input :surname, label: "Last Name" %>
        <%= f.input :email, :placeholder => 'user@domain.com'  %>
        <%= f.input :address %>
        <%= f.input :phone_num, label: "Phone Number" %>
        <% if current_user.role == "admin" %>
          <%= f.association :users,
            label: "Restrict access to this case",
            input_html: {class: "ch_select"},
            collection: User.by_subdomain(current_user.subdomain).map { |u| [u.name + " " + u.surname, u.id] } %>
        <% end -%>
      </div>
      <div class="span3">
        <%= f.input :description %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
