<h1>Contact</h1>

<p>
  <b>Name</b><br>
  <%= @person.name %>
  <%= @person.surname %>
</p>

<p>
  <b>Email</b><br>
  <%= mail_to @person.email %>
</p>

<p>
  <b>Address</b><br>
  <%= @person.address %>
</p>

<p>
  <b>Phone Number</b><br>
  <%= number_to_phone @person.phone_num %>
</p>

<p>
  <b>Description</b><br>
  <%= @person.description %>
</p>

<ul class="nav nav-tabs" id="cases_tabs">
  <li class="active"><a href="#tasks">Tasks</a></li>
  <li><a href="#documents">Documents</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="tasks">
      <h3>Tasks</h3>
      <%= render partial: "tasks/tasks.html.erb", locals: {tasks: @tasks} %>
  </div>
  <div class="tab-pane" id="documents">
    <h3>Documents</h3>
    <%= render :partial => "documents/documents.html.erb", :locals =>  {documents: @person.documents} %>
  </div>
</div>


<div class="form-actions">
  <%= link_to "Add Document", new_person_document_path(@person), class: "btn" %>
  <%= link_to "Add Task", new_person_task_path(@person), class: "btn" %>
  <%= link_to 'Back', people_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_person_path(@person), :class => 'btn' %>
  <%= link_to 'Delete', person_path(@person), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
