<table class="table table-striped">
  <thead>
    <tr>
      <th>Status</th>
      <th>Title</th>
      <th>Contact</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% tasks.each do |task| %>
      <tr>
        <td>
          <%= select_tag(
            nil,
            options_for_select([["opened", false], ["closed", true]], task.closed),
            class: 'span2 opened_closed_select',
            id: task.id.to_s
          ) %>
        </td>
        <td>
          <%= link_to task.title, task_path(task) %><br>
          <%= task.expires_at %>
        </td>
        <td>
          <% if task.opportunity %>
            Opportunity:
            <%= link_to " " + task.opportunity.title, opportunity_path(task.opportunity) %>
            <br>
          <% end %>
          <% if task.case %>
            Case:
            <%= link_to " " + task.case.title, case_path(task.case) %>
            <br>
          <% end %>
          <%= task.person ? link_to(task.person.name + " " + task.person.surname, person_path(task.person)) : nil %>
        </td>
        <td>
          <%= link_to 'Edit', edit_task_path(task), :class => 'btn btn-mini' %>
          <%= link_to 'Delete', task_path(task), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate tasks %>