<h1>Task</h1>

<p>
  <b>Title</b><br>
  <%= @task.title %>
</p>

<p>
  <b>Description</b><br>
  <%= @task.description %>
</p>

<p>
  <b>Responsible</b><br>
  <%= link_to @task.responsible_user.name + " " + @task.responsible_user.surname, user_path(@task.responsible_user) %>
</p>

<% if @task.person %>
  <p>
    <b>Connected Contact</b><br>
    <%= link_to @task.person.name + " " + @task.person.surname, person_path(@task.person) %>
  </p>
<% end -%>

<p>
  <b>Status</b><br>
  <% if @task.closed %>
    <p>Closed</p>
  <% else %>
    <p>Opened</p>
  <% end %>
</p>

<div class="form-actions">
  <%= link_to 'Back', tasks_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_task_path(@task), :class => 'btn' %>
  <%= link_to 'Delete', task_path(@task), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
