<%= simple_form_for(@case) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.association :people,
      label: "Paticipants",
      input_html: {class: "ch_select"},
      collection: current_user.people.map { |p| [p.name + " " + p.surname, p.id] } %>
    <%= f.input :closed  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
