<h1>Case</h1>

<p>
  <b>Title</b><br>
  <%= @case.title %>
</p>

<p>
  <h3>Participants</h3>
  <% @case.people.each do |p| %>
    <%= link_to p.name + " " + p.surname, person_path(p) %><br>
  <% end %>
</p>

<p>
  <h3>Tasks</h3>
  <%= render :partial => "tasks/tasks.html.erb", :locals =>  {tasks: @case.tasks} %>
</p>

<p>
  <h3>Documents</h3>
  <%= render :partial => "documents/documents.html.erb", :locals =>  {documents: @case.documents} %>
</p>

<p>
  <b>Status</b><br>
  <% if @case.closed %>
    <p>Closed</p>
  <% else %>
    <p>Opened</p>
  <% end %>
</p>

<div class="form-actions">
  <%= link_to 'Add Task', new_case_task_path(@case), :class => 'btn' %>
  <%= link_to 'Add Document', new_case_document_path(@case), :class => 'btn' %>
  <%= link_to 'Back', cases_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_case_path(@case), :class => 'btn' %>
  <%= link_to 'Delete', case_path(@case), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
