<%= simple_form_for(@document) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :person_id, :as => :hidden %>
    <%= f.input :case_id, :as => :hidden %>
    <%= f.input :opportunity_id, :as => :hidden %>
    <%= f.input :document %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
