<h1>Opportunity</h1>

<p>
  <b>Title</b><br>
  <%= @opportunity.title %>
</p>

<p>
  <b>Responsible</b><br>
  <%= link_to @opportunity.responsible_user.name + " " + @opportunity.responsible_user.surname,
    user_path(@opportunity.responsible_user) %>
</p>

<p>
  <b>Budget</b><br>
  <%= number_to_currency @opportunity.budget %>
</p>

<p>
  <b>Probability</b><br>
  <%= number_to_percentage @opportunity.probability, precision: 0 %>
</p>

<p>
  <b>Status</b><br>
  <% if @opportunity.closed %>
    <p>Closed</p>
  <% else %>
    <p>Opened</p>
  <% end %>
</p>

<p>
  <b>Description</b><br>
  <%= @opportunity.description %>
</p>

<ul class="nav nav-tabs" id="cases_tabs">
  <li class="active"><a href="#participants">Participants</a></li>
  <li><a href="#tasks">Tasks</a></li>
  <li><a href="#documents">Documents</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane active" id="participants">
      <h3>Participants</h3>
      <% @opportunity.people.each do |p| %>
        <%= link_to p.name + " " + p.surname, person_path(p) %><br>
      <% end %>
  </div>
  <div class="tab-pane" id="tasks">
      <h3>Tasks</h3>
      <%= render :partial => "tasks/tasks.html.erb", :locals =>  {tasks: @tasks} %>
  </div>
  <div class="tab-pane" id="documents">
      <h3>Documents</h3>
      <%= render :partial => "documents/documents.html.erb", :locals =>  {documents: @opportunity.documents} %>
  </div>
</div>

<div class="form-actions">
  <%= link_to 'Add Task', new_opportunity_task_path(@opportunity), :class => 'btn' %>
  <%= link_to 'Add Document', new_opportunity_document_path(@opportunity), :class => 'btn' %>
  <%= link_to 'Edit', edit_opportunity_path(@opportunity), class: "btn" %>
  <%= link_to 'Back', opportunities_path, class: "btn" %>
  <%= link_to 'Delete', opportunity_path(@case), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
